<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/functional/bootstrap.php"
         backupGlobals="false"
         backupStaticProperties="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Yii2 TinyMce Test Suite">
            <directory>./tests/functional</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
    </source>
    <logging>
        <junit outputFile="build/report.junit.xml" />
    </logging>
    <coverage>
        <report>
            <clover outputFile="build/logs/clover.xml" />
            <text outputFile="build/coverage.txt" />
            <html outputDirectory="build/coverage" />
        </report>
    </coverage>
</phpunit>